## Imports

In [2]:
import pandas as pd
import numpy as np
import hvplot.pandas
import yfinance as yf
import datetime

## Data Collection

In [3]:
# Define the stock symbol and create a Yahoo Finance ticker object
symbol = "CORN"
ticker = yf.Ticker(symbol)

# Get historical stock data for the last 5 years
historical_data = ticker.history(period="5y")

# Print the first few rows of the historical data
print(historical_data.head())

                                Open       High        Low      Close  Volume  \
Date
2018-09-06 00:00:00-04:00  16.110001  16.270000  16.110001  16.219999   40500
2018-09-07 00:00:00-04:00  16.150000  16.320000  16.150000  16.250000   59400
2018-09-10 00:00:00-04:00  16.240000  16.290001  16.180000  16.280001   42600
2018-09-11 00:00:00-04:00  16.240000  16.309999  16.219999  16.240000   35900
2018-09-12 00:00:00-04:00  16.190001  16.200001  15.680000  15.780000  325800

                           Dividends  Stock Splits  Capital Gains
Date
2018-09-06 00:00:00-04:00        0.0           0.0            0.0
2018-09-07 00:00:00-04:00        0.0           0.0            0.0
2018-09-10 00:00:00-04:00        0.0           0.0            0.0
2018-09-11 00:00:00-04:00        0.0           0.0            0.0
2018-09-12 00:00:00-04:00        0.0           0.0            0.0

## Daily Returns

In [4]:
# Calculate daily returns
historical_data['Daily_Return'] = historical_data['Close'].pct_change()

# Print the first few rows of the data with daily returns
print(historical_data.head())

                                Open       High        Low      Close  Volume  \
Date
2018-09-06 00:00:00-04:00  16.110001  16.270000  16.110001  16.219999   40500
2018-09-07 00:00:00-04:00  16.150000  16.320000  16.150000  16.250000   59400
2018-09-10 00:00:00-04:00  16.240000  16.290001  16.180000  16.280001   42600
2018-09-11 00:00:00-04:00  16.240000  16.309999  16.219999  16.240000   35900
2018-09-12 00:00:00-04:00  16.190001  16.200001  15.680000  15.780000  325800

                           Dividends  Stock Splits  Capital Gains  \
Date
2018-09-06 00:00:00-04:00        0.0           0.0            0.0
2018-09-07 00:00:00-04:00        0.0           0.0            0.0
2018-09-10 00:00:00-04:00        0.0           0.0            0.0
2018-09-11 00:00:00-04:00        0.0           0.0            0.0
2018-09-12 00:00:00-04:00        0.0           0.0            0.0

                           Daily_Return
Date
2018-09-06 00:00:00-04:00           NaN
2018-09-07 00:00:00-04:00      0.001850
2018-09-10 00:00:00-04:00      0.001846
2018-09-11 00:00:00-04:00     -0.002457
2018-09-12 00:00:00-04:00     -0.028325

In [7]:
# Convert to DataFrame and Reset Index
df = pd.DataFrame(historical_data)
df = df.reset_index()
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,Daily_Return
0,2018-09-06 00:00:00-04:00,16.110001,16.270000,16.110001,16.219999,40500,0.0,0.0,0.0,NaN
1,2018-09-07 00:00:00-04:00,16.150000,16.320000,16.150000,16.250000,59400,0.0,0.0,0.0,0.001850
2,2018-09-10 00:00:00-04:00,16.240000,16.290001,16.180000,16.280001,42600,0.0,0.0,0.0,0.001846
3,2018-09-11 00:00:00-04:00,16.240000,16.309999,16.219999,16.240000,35900,0.0,0.0,0.0,-0.002457
4,2018-09-12 00:00:00-04:00,16.190001,16.200001,15.680000,15.780000,325800,0.0,0.0,0.0,-0.028325

## Annualized Returns

In [11]:

# Calculate the total return over the period
total_return = (1 + df['Daily_Return']).prod() - 1

# Determine the number of years in the investment horizon
years = (df['Date'].max() - df['Date'].min()).days / 365

# Calculate annualized return using the formula: ((1 + Total Return)^(1 / Years) - 1)
annualized_return = (pow(1 + total_return, 1 / years) - 1) * 100 

print(years)
print(annualized_return)

5.0
6.640711445849079

## Cumulative Returns

In [13]:
# Calculate Cumulative Return and add as a Column
df['Cumulative_Return'] = (1 + df['Daily_Return']).cumprod() - 1

df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,Daily_Return,Cumulative_Return
0,2018-09-06 00:00:00-04:00,16.110001,16.270000,16.110001,16.219999,40500,0.0,0.0,0.0,NaN,NaN
1,2018-09-07 00:00:00-04:00,16.150000,16.320000,16.150000,16.250000,59400,0.0,0.0,0.0,0.001850,0.001850
2,2018-09-10 00:00:00-04:00,16.240000,16.290001,16.180000,16.280001,42600,0.0,0.0,0.0,0.001846,0.003699
3,2018-09-11 00:00:00-04:00,16.240000,16.309999,16.219999,16.240000,35900,0.0,0.0,0.0,-0.002457,0.001233
4,2018-09-12 00:00:00-04:00,16.190001,16.200001,15.680000,15.780000,325800,0.0,0.0,0.0,-0.028325,-0.027127

## Annual Volatility

In [15]:
# Calculate the standard deviation of daily returns
daily_volatility = df['Daily_Return'].std()

# Annualize the volatility
annual_volatility = daily_volatility * np.sqrt(252)

print(daily_volatility)
print(annual_volatility)

0.014023820047030379
0.2226212416533871

## Sharpe Ratio

In [19]:
# Calculate the average daily return
average_daily_return = df['Daily_Return'].mean()

# Assume a daily risk free rate
daily_risk_free_rate = 0.001

# Calculate the Sharpe ratio
sharpe_ratio = (average_daily_return - daily_risk_free_rate) / daily_volatility

print(average_daily_return)
print(sharpe_ratio)

0.0003541787598294234
-0.04605173469174205

## Sortino Ratio

In [20]:
# Calculate downside risk (standard deviation of negative returns)
negative_returns = df[df['Daily_Return'] < 0]['Daily_Return']
downside_risk = negative_returns.std()

# Calculate the Sortino ratio
sortino_ratio = (average_daily_return - daily_risk_free_rate) / downside_risk

print(sortino_ratio)

-0.06750998829575451